# Google AI Studio settings
GEMINI_API_KEY="AIzaSyB6Or8U9ZhjLZhAt17WwBQ9vNj_a0o-_ck"

# Firecrawl API Key
FIRECRAWL_API_KEY="fc-add5ef437b4548fea675bcfe66322c35"

# SMTP Email Settings
SMTP_SERVER="smtp.gmail.com"
SMTP_PORT="465"
SENDER_EMAIL="vikas.tiwari88@gmail.com"
SENDER_APP_PASSWORD="ieke rpwj vula baqj"

# Execution Mode
# Set to True to save files locally without sending the email (HITL/Dry Run)
DRY_RUN=True
