crewai
crewai-tools
litellm
langchain-google-vertexai
firecrawl-py
markdown2
fpdf2
python-dotenv
pydantic
pytest
pytest-cov
pytest-mock
lancedb
duckduckgo-search
google-generativeai
pandas
pyarrow
livekit-agents
livekit-plugins-google
livekit-plugins-silero
pytest-asyncio
fastapi
uvicorn
